<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/custom.css">
  <title>Pokedex: All</title>
</head>

<body>
  <a href="/pokemon/new">
    <button>Create a Pokemon!</button>
  </a>
  <div class="container">
    <% for (pokemon of data) { %>
      <div class="pokemon-card" id="<%= pokemon.name %>">
        <a href="/pokemon/<%= data.id %>">
          <h4>
            <%= pokemon.name %>
          </h4>
        </a>
        <a href="/pokemon/<%= data.id %>">
          <img src="<%= pokemon.img %>" alt="<%= `picture of ` + pokemon.name %>">
        </a>
        <div class="pokemon-card-actions">
          <a href="/pokemon/<%= Number(pokemon.id) %>/edit">
            <button>Edit</button>
          </a>
          <form action="/pokemon/:id?_method=DELETE" method="POST">
            <button>Delete</button>
            <form>
        </div>
      </div>
      <% } %>
  </div>
</body>

</html>